<div class="row">
    <div class="col-md-12">
        <h2>Giriş</h2>
        <hr>

        <p><input type="text" class="form-control" placeholder="Email..." ng-model="email" required /></p>
        <p><input type="password" class="form-control" placeholder="Şifre..." ng-model="password" required /></p>

        <hr>

        <p><button type="button" class="btn btn-success form-control" ng-click="login()">Giriş</button></p>
        <div class="alert alert-danger" ng-if="errorMessage">{{errorMessage}}</div>
        <hr>

        <p><a href="#!/signup"><b>Üye ol!</b></a></p>
    </div>
</div>