<div class="row">
    <div class="col-md-12">
        <h2>Login</h2>
        <hr>

        <p><input type="text" class="form-control" placeholder="Email Address..." ng-model="email" required /></p>
        <p><input type="password" class="form-control" placeholder="Password..." ng-model="password" required /></p>

        <hr>

        <p><button type="button" class="btn btn-success form-control" ng-click="login()">Login</button></p>
        <div class="alert alert-danger" ng-if="errorMessage">{{errorMessage}}</div>
        <hr>

        <p><a href="#!/signup">First time here? <b>Sign up!</b></a></p>
    </div>
</div>